a[href="#main"] {
    position: absolute;
    top: 0;
    right: 100%; /* moves off screen */
}

a[href="#main"]:focus {
    right: auto;
    outline: none;
    font-size: 1.2rem;
    border: 1px rgb(83, 83, 243) solid;
    padding: 16px;
}

a:link{
    color: black;
}
a:hover{
    color: gray;
}

a:active{
    color: red;
}
