a {
    position: absolute;
    top: 0;
    right: 100%; /* moves off screen */
}

a:focus {
    right: auto;
    outline: none;
    color: black;
    font-size: 1.2rem;
    border: 1px rgb(83, 83, 243) solid;
    padding: 16px;
    background-color: white;
}



a:hover{
    color: gray;
}

a:active{
    color: red;
}
